@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #171c28;
  color: #ffffff;
}

h1 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 20px 0;
  background-color: #263238;
  color: #ffffff;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #cfd8dc;
  color: #263238;
}

label {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
}

input {
  padding: 5px;
  border: 1px solid #cfd8dc;
  border-radius: 3px;
  color: #263238;
}

button {
  padding: 8px 16px;
  background-color: #263238;
  color: #ffffff;
  font-size: 14px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
}

button:hover {
  background-color: #1e252f;
}

.restaurant-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #cfd8dc;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #263238;
}

.restaurant-container button {
  margin-top: 15px;
}

.restaurant-container h2 {
  margin: 0 0 10px;
}

p {
  margin: 0;
}

.error-message {
  padding: 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #cfd8dc;
  color: #f44336;
  text-align: center;
}

button[disabled] {
  background-color: #cccccc;
  cursor: not-allowed;
}

.validation-message {
  color: #8b0000; /* Dark red */
  margin-top: 10px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #263238;
  color: #ffffff;
  padding: 20px;
  font-size: 14px;
}

footer p {
  margin: 0;
}
