@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #34495e;
  color: #ffffff;
}

h1 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 30px 0;
  background-image: linear-gradient(to right, #2c3e50, #34495e);
  color: #ffffff;
  margin: 0;
  font-size: 36px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px;
  background-color: #22313f;
  border-bottom: 1px solid #34495e;
  color: #ffffff;
  margin-top: 20px;
  border-radius: 10px;
}

label {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  font-weight: bold;
  margin-bottom: 10px;
}

input,
select {
  padding: 8px;
  border: 1px solid #34495e;
  border-radius: 5px;
  color: #263238;
  background-color: #ffffff;
  font-size: 14px;
  width: 100%;
  margin-top: 5px;
}

button {
  padding: 10px 20px;
  background-color: #f39c12;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
}

button:hover {
  background-color: #d35400;
}

.restaurant-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: #22313f;
  border: 1px solid #34495e;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #ffffff;
  border-radius: 10px;
}

.restaurant-container button {
  margin-top: 15px;
  background-color: #f39c12;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
}

.restaurant-container button:hover {
  background-color: #d35400;
}

.restaurant-container h2 {
  margin: 0 0 20px;
  font-size: 24px;
}

.restaurant-container p {
  margin: 0 0 10px;
  font-size: 16px;
}

p {
  margin: 0;
}

.error-message {
  padding: 20px;
  background-color: #22313f;
  border-bottom: 1px solid #34495e;
  color: #e74c3c;
  text-align: center;
}

button[disabled] {
  background-color: #cccccc;
  cursor: not-allowed;
}

.validation-message {
  color: #e74c3c; /* Updated red */
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #2c3e50, #34495e);
  color: #ffffff;
  padding: 20px;
  font-size: 14px;
  width: 100%;
  border-top: 1px solid #4a6987;
}

footer p {
  margin: 5px 0;
}

/* Responsive styles */
@media screen and (max-width: 767px) {
  form {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
  }

  label {
    width: 100%;
  }

  .restaurant-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
  }

  footer {
    padding: 10px;
    font-size: 12px;
  }
}
